@font-face {
    font-family: 'Norse Bold';
    src: url('./Norse-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    border: 1px solid black;
    display: flex;
    /* not sure about the two properties below, have just put for testing and all */
    height: 100vh;
    width: 100vw;
}


.aside{
    border: 0.5px solid red;
    display: flex;
    flex-direction: column;
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");

    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    width: 40vw;
    justify-content: space-between;
}
.odin-logo{

    display: flex;
    font-size: 5rem;
    align-self: center;

    justify-content: center;
    height: 20%;
    width: 100%;
    overflow: hidden;
    margin-top: 10rem;
    font-family: 'Norse Bold';
    background-color: rgba(0,0,0,0.4);


}
.aside p {
    margin-bottom: 10px;
    color: whitesmoke;

    align-self: center;

}

.stacks{
    border: 0.5px solid teal;
    display: flex;
    flex-direction: column;
}
.stack-1{

    border: 0.25px solid purple;


}
.stack-2{

    border: 0.25px solid green;
}

.stack-3{

    border: 0.25px solid grey;
}