@font-face {
    font-family: 'Norse Bold';
    src: url('./Norse-Bold.otf');
    font-weight: normal;
    font-style: normal;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container {
    /* border: 1px solid black; */
    display: flex;
    /* not sure about the two properties below, have just put for testing and all */
    height: 100vh;
    width: 100vw;
}


.aside {
    /* border: 0.5px solid red; */
    display: flex;
    flex-direction: column;
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");

    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    /* width: 30vw; */
    justify-content: space-between;
    flex: 0.7;
}

.odin-logo {

    display: flex;
    font-size: 5.5rem;
    align-self: center;

    justify-content: center;
    height: 25%;
    width: 100%;
    overflow: hidden;
    margin-top: 20vh;
    font-family: 'Norse Bold';
    background-color: rgba(0, 0, 0, 0.4);

    padding: 12px;
}


.aside p {
    margin-bottom: 10px;
    color: whitesmoke;

    align-self: center;

}

.stacks {
    /* border: 0.5px solid teal; */
    display: flex;
    flex-direction: column;
    /* width: 70vw; */
    flex: 1;
    justify-content: space-between;
    /* gap: 1rem; */
}

.stack-1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 2rem;
    /* margin-top: 2rem; */
    /* border: 0.25px solid purple; */
background-color: #f9fafb;
}

.header h2 {
    padding: 1rem 0;
    width: 80%;
}


/* the main container where our login form is there */
.stack-2 {
    /* border: 0.25px solid green; */

    padding-left: 2rem;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}


.main h2 {

    margin-top: 6%;
    /* padding: 1rem 0; */
    font-weight: lighter;

}
form{
    display: flex;
    flex-direction: column;
margin: auto;
margin-bottom: 5%;
}


.stack-3 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    flex-grow: 1;

    /* border: 0.25px solid grey; */
background-color: #f9fafb;
box-shadow: inset 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin-top: 2rem;

}

a{
    color: white;
}

.container-for-form-fields{
    display: flex;
    flex-wrap: wrap;



}
.first-last-name,.email-phoneNo,.password-confirmPassword{
    display: flex;
    flex-direction: row;
}
.first-last-name .form-cell, .email-phoneNo .form-cell, .password-confirmPassword .form-cell{
   padding: 22px; 
   padding-bottom: 2px;
   padding-left: 0;
}

.form-cell{
    display: flex;
    flex-direction: column;
}
/* create account button */
button {

    cursor: pointer;
    font-weight: bolder;
    padding: 1rem 2.5rem;
    font-size: 100%;
    border-radius: 8px;
    background-color: #596d48;
    font: 100;
    color: aliceblue;
    border: none;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);

}

